.date-picker-class{
    margin: 60px auto;
    width: 100;
    text-align: center;
}

.red-border{
    border: 1px solid #fc0707ef;
}
.rasta-stripes{
    background-color: #ff0000;
}

.random {
    color: #ff0000;

}

.text-success{
    color: #008000;
}

.text-error{
    color: #ff0000;
}

.react-datepicker__header {
    text-align: center;
    background-color: #ff0000;
    border-bottom: 1px solid #aeaeae;
    border-top-left-radius: .3rem;
    border-top-right-radius: .3rem;
    padding-top: 8px;
    position: relative;

}

.react-datepicker-popper[data-placement^="top"] .react-datepicker__triangle, .react-datepicker__year-read-view--down-arrow, .react-datepicker__month-read-view--down-arrow, .react-datepicker__month-year-read-view--down-arrow, .react-datepicker-popper[data-placement^="top"] .react-datepicker__triangle::before, .react-datepicker__year-read-view--down-arrow::before, .react-datepicker__month-read-view--down-arrow::before, .react-datepicker__month-year-read-view--down-arrow::before {
    border-bottom: none;
    border-top-color: #ff0000;
    border-bottom-color: red;
}

.datepicker-year-header {
    margin-top: 0;
    color: #fff !important;
    font-weight: bold;
    font-size: 0.944rem;
}

.react-datepicker__today-button {
    background: #e40d0d;
    border-top: 1px solid #c91212;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
    padding: 5px 0;
    clear: left;
}

.react-datepicker {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 0.8rem;
    background-color: rgb(219, 28, 28);
    color: #000;
    border: 1px solid #bb9292;
    border-radius: 0.3rem;
    display: inline-block;
    position: relative;
}