.date-picker-class{
    margin: 60px auto;
    width: 100;
    text-align: center;
}

.red-border{
    border: 1px solid #fc0707ef;
}
.rasta-stripes{
    background-color: #ff0000;
}

.random {
    color: #ff0000;

}

.text-success{
    color: #008000;
}

.text-error{
    color: #ff0000;
}