.top-container {
    overflow: auto,
}
.chartAreadWrapper {
    height: 600px;
            overflow-y: scroll;
}


  #container {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    
    height: 500px;
    background-color: #fff;
    overflow-y: scroll;
  }
  .label {
      font-family: sans-serif
  }